.about-intro-main-container{
    position: relative; 
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 90vh;
    font-weight: 500;
    font-size: 120%;
    letter-spacing: 1px;
    padding: 100px 50px 100px 50px;
    background: #c4da89;
}

.about-intro-text-container{
    text-align: left;
    color: white;
    width: 90%;
    margin-left: 10%;
    font-size: 110%;
}


.brown{
    color: #705839 !important;
    font-weight: 800 !important;
}

.hello-world{
    font-weight: 700;
    font-size: calc(32px + 12 * ((200vw - 640px) / 1360));
    color: #705839;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.hello-world2{
    font-weight: 400;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    color: white;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.intro1{
    font-weight: 400;
    margin-top: 20px;
    font-size: calc(24px + 9 * ((150vw - 480px) / 1020));
    width: 40%;
    color: white;
}

.intro2{
    font-weight: 400;
    font-size: calc(19.2px + 7.2 * ((120vw - 384px) / 816));
    margin-bottom: 15px;
    color: white;
}

.intro3{
    font-weight: 400;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    width: 40%;
    color: white;
}

.spongebob{
    float: right;
    border-radius: 50px;
    width: 35%;
    margin-right: 5%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}


  /* Mobile and Tablet */
@media (max-width: 768px) { 
    .spongebob{
        position: static;
        width: 75vw;
        float: none;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    } 

    .about-intro-main-container{
        background: #c4da89;
        top: 140px;
        padding-bottom: 0px;
        padding-right: 20px;
        padding-left: 20px;
        height: 100vh;
    }

    .about-intro-text-container{
        width: 90%;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hello-world{
        font-size: calc(32px + 12 * ((200vw - 640px) / 1360));
        color: #6d482a;
        width: 100%;
        margin-right: 50px;
    }

    .hello-world2{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        color: white;
        width: 100%;
        margin-right: 50px;
    }

    .intro1{
        margin-top: 20px;
        font-size: calc(24px + 9 * ((150vw - 480px) / 1020));
        width: 100%;
        color: white;
        margin-right: 50px;
    }

    .intro2{
        font-size: calc(19.2px + 7.2 * ((120vw - 384px) / 816));
        margin-bottom: 15px;
        color: white;
        width: 100%;
        margin-right: 50px;
    }

    .intro3{
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        width: 100%;
        color: white;
        margin-right: 50px;
    }
}

@media (min-width: 2000px) { 
    .about-intro-sub-container{
        height: 50vh;
    }

    .about-intro-main-container{
        height: 65vh;
    }

    .spongebob{
        width: 25vw;
    } 
}
