.about-me-container{
    position: relative; 
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 100vh;
    font-weight: 500;
    font-size: 120%;
    letter-spacing: 1px;
    padding: 100px 50px 100px 50px;
    background: #b4ce6d; 
}

.about-page-big-titles{
    text-align: center;
    font-size: 300%;
    color: #615144;
    padding-bottom: 100px;
    font-weight: 800;
    position: relative;
}
 
.about-me-text{
    color: white;
    font-size: 110%;
    margin-bottom: 60px;
}

.brown-about-me{
    color: #615144 !important;
    font-weight: 1000 !important;
    font-size: 110%;
}

.about-me-left{
    float: left;
    padding-left: 150px;
}

.about-me-right{
    float: right;
    padding-right: 150px;
}

 /* Mobile and Tablet */
 @media (max-width: 768px) { 
    .about-me-container{
        font-size: 95%;
        margin-top: 25%;
    }

    .about-me-left{
        float: left;
        padding-left: 15px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .about-me-right{
        float: right;
        padding-right: 15px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    
    .about-page-big-titles{
        padding-bottom: 60px;
    }
}