.about-me-container{
    position: relative; 
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 120vh;
    font-weight: 500;
    font-size: 120%;
    letter-spacing: 1px;
    padding: 100px 50px 100px 50px;
    background: #c0d87f; 
}

.about-page-big-titles{
    text-align: center;
    font-size: 300%;
    color: #615144;
    padding-bottom: 100px;
    font-weight: 800;
    position: relative;
}
 
.about-me-text{
    text-align: right;
    color: white;
    width: 42%;
    margin-left: 50%;
    font-size: 110%;
    margin-right: 8%;
    margin-bottom: 80px;
}

.brown-about-me{
    color: #615144 !important;
    font-weight: 1000 !important;
    font-size: 110%;
}

.about-me-img{
    float: left;
    margin-top: -5%;
    width: 24%;
    display: inline;
    border-radius: 50px;
    margin-left: 7%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

 /* Mobile and Tablet */
 @media (max-width: 768px) { 
    .about-me-container{
        font-size: 95%;
        margin-top: 25%;
        height: 135vh;
    }

    .about-me-text{
        width: 100%;
        color: white;
        font-size: 110%;
        margin-bottom: 35px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-page-big-titles{
        padding-bottom: 60px;
    }

    .about-me-img{
        width: 55vw;
        float: none;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    } 
}

 
@media (min-width: 2000px) { 
    .about-me-container{
     height: 75vh;
    }

    .about-me-img{
        width: 20%;
    } 
}