.eye-white{
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 3px solid #615144;
  position: relative;
  background: white;
}
.eye-ball{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #615144;
}

  /* Mobile and Tablet */
  @media (max-width: 768px) { 
    .eye-white{
      width: 70px;
      height: 70px;

    }
    .eye-ball{
      width: 35px;
      height: 35px;
    }
}