/* SOURCED FROM: https://webdeasy.de/en/top-css-buttons-en/ */
.cv-button {
  display: inline-block;
  padding: 0.5rem 1.00rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 3px solid white;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
}
.cv-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #df9a39;
  z-index: -2;
  cursor: pointer;
  font-weight: 700;
}
.cv-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #db8d20;
  transition: all 0.3s;
  z-index: -1;
  cursor: pointer;
  font-weight: 700;
}
.cv-button:hover {
  color: #fff;
}
.cv-button:hover:before {
  width: 100%;
}