/* Sourced from: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp*/
.sidebar {
    height: auto; /* 100% Full-height */
    padding-bottom: 20px;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 1%;
    right: 5px;
    background-color: #2f343a;/* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.15s; /* 0.5 second transition effect to slide in the sidebar */
    font-weight: 300;
    text-transform: uppercase;
  }

  .sidebar-green-text{
    color: #84CE77;
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 110%;
    color: white;
    display: block;
    transition: 0.15s;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #84CE77;
    font-weight: 600;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-weight: 300;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: -10%;
    font-weight: 300;
  }
  
  .openbtn:hover {
    background-color: #444;
    font-weight: 300;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left 0.15s; /* If you want a transition effect */
    padding: 20px;
  }


/* Mobile and Tablet */
@media (max-width: 768px) { 
  .openbtn {
    left: -3%;
    top: -30%;
    font-size: 10px;
    font-weight: 300;
  }

  .sidebar a {
    font-size: 90%;
    padding: 8px 8px 8px 16px;
    font-weight: 300;
  }
}