.fixed-title{
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
    position: fixed;
    font-weight: 400;
    width: 100%;
    font-size: 110%;
    color: white;
    z-index: 10000;
    display: inline-block; 
    background-color: #72624d;
    padding: 10px;
}

.cursor-pointer{
    cursor: pointer;
}

.fixed-title-icon{
    width: 110px;
    height: 110px;
    position: relative;
    left: 20%;
    float: left;
    border: 5px solid #72624d;   
    border-radius: 50%;
}

.fixed-title-line{
    width: 60%; 
    border: 2px solid #ffffff;
    position: absolute;
    top: 50%;
    border-radius: 50px;
    left: 20%;
}

.mahdi{
    position: relative;
    left: 80%;
    color: #df9a39;
    font-weight: 800;
}

.toussi{
    position: relative;
    left: 80%;
}

.HSPR{
    position: relative;
    left: 90%;
    word-spacing: 20px; 
}

.mahdi-icon-wrap{
    position: absolute;
    top: 20%;
}

/* Mobile and Tablet */
@media (max-width: 768px) { 
    .fixed-title-icon{
        width: 60px;
        height: 60px;
        left: 0%;
    }

    .fixed-title-line{
        width: 46%; 
        left: 25%;
    }

    .mahdi{
        left: 5%;
        font-size: 80%;
    }
    
    .toussi{
        font-size: 80%;
        left: 5%;
    }
    .fixed-title{
        padding: 7% 7% 0px 0px;
    }
}
      