.fixed-title{
    letter-spacing: 2px;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 100%;
    font-size: 120%;
    color: white;
    z-index: 100;
    display: inline-block; 
    background-color: #2A2F36;
    padding: 1.5%;
}

.fixed-title-icon{
    width: 120px;
    height: 120px;
    position: relative;
    left: 10%;
    float: left;
    border: 10pt solid #2A2F36;   
    border-radius: 100%;   
}

.fixed-title-line{
    width: 60%; 
    border: 2px solid #0a072e;
    position: absolute;
    top: 50%;
    left: 20%;
}

.mahdi{
    position: relative;
    left: 20%;
    color: #84CE77;
}

.toussi{
    position: relative;
    left: 20%;
}

.HSPR{
    position: relative;
    left: 90%;
    word-spacing: 20px; 
}

.mahdi-icon-wrap{
    position: absolute;
    top: 20%;
}

/* For responsiveness: */
@media only screen and (min-width: 2000px) {
    /* For Tablets: */
  }

  @media only screen and (min-width: 768px) {
    /* For Phones: */
  }