/* Split page */
div,p,a,circle,svg{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-contact{
  font-family: 'Inter', sans-serif;
  font-size: calc(3px + 6 * ((12.5vw - 75) / 100));
  float: left;
  width: 55%;
  padding-top: 50px;
  height: 500px;
  padding-left: 6%;
  padding-right: 5%;
  font-weight: 300;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
}

.column-skills{
  font-family: 'Inter', sans-serif;
  font-size: calc(3px + 6 * ((12.5vw - 75) / 100));
  float: left;
  padding-top: 50px;
  width: 35%;
  height: 500px;
  max-width: 605px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-contact{
    width: 100%;
  }

  .column-skills{
    width: 100%;
  }
}

  /* !!!!!!!!!!!!!!!!!!!!!!!!  */

.skills-title{
    text-align: center;
    font-size: 300%;
    color: #84CE77;
    padding-bottom: 100px;
    font-weight: 800;
    position: relative;
}

.emails-text{
    color: #84CE77;
    padding-bottom: 30px;
    font-weight: 500;
}

.emails-sub{
    color: white;
    font-weight: 300;
}

.website-text{
    color: #84CE77;
    padding-bottom: 50px;
    font-weight: 500;
    
}

.website-sub{
    color: white; 
    font-weight: 300;
}

@media (max-width: 768px) { 
  .skills-title{
    padding-bottom: 50px;
}
}

