/* Split page */
div,p,a,circle,svg{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-contact{
  font-family: 'Inter', sans-serif;
  font-size: calc(3px + 6 * ((12.5vw - 75) / 100));
  margin-top: 10%;
  float: left;
  width: 55%;
  padding-top: 100px;
  height: 500px;
  padding-left: 12%;
  padding-right: 5%;
  font-weight: 300;
}

.column-skills{
  font-family: 'Inter', sans-serif;
  font-size: calc(3px + 6 * ((12.5vw - 75) / 100));
  margin-top: 10%;
  float: left;
  padding-top: 100px;
  width: 35%;
  height: 500px;
  max-width: 605px;
  font-weight: 300;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-contact{
    width: 100%;
  }

  .column-skills{
    width: 100%;
  }
}

  /* !!!!!!!!!!!!!!!!!!!!!!!!  */

.about-me-title{
    font-size: 250%;
    color: #84CE77;
    padding-bottom: 100px;
    position: relative;
}

.emails-text{
    color: #84CE77;
    padding-bottom: 30px;
}

.emails-sub{
    color: white;
}

.website-text{
    color: #84CE77;
    padding-bottom: 50px;
}

.website-sub{
    color: white; 
}

@media (max-width: 768px) { 
}

