/* Kiyanpay application */
.column-kiyanpay{
    margin-top: 9%;
    float: left;
    width: 50%;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: calc(6px + 12 * ((25vw - 150px) / 200));
} 

.column-kiyanpay h1{
    margin-bottom: 20px;
} 

.row-kiyanpay{
    position: relative;
    top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

  .row-kiyanpay:after {
    content: "";
    display: table;
    clear: both;
}

.kiyanpay-img{
    width:80%;
    margin-bottom: 20px;
}


/* Mobile and Tablet */
@media (max-width: 768px) { 
.column-kiyanpay{
      float: left;
      width: 100%;
      padding: 10px;
      font-family: 'Inter', sans-serif;
      font-size: calc(12px + 1.5 * ((75vw - 270px) / 576));
    } 
  }
  
/* Laptop and Desktops screens */
@media (min-width: 769px) {
    .column-kiyanpay{
      float: left;
      width: 50%;
      padding: 10px;
      font-family: 'Inter', sans-serif;
      font-size: calc(10.5px + 7.5 * ((75vw - 577.5px) / 1536));
    } 
  }