/* exam application */
.column-exam{
  float: left;
  width: 50%;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: calc(10.5px + 7.5 * ((75vw - 577.5px) / 1536));
} 

.column-exam h1{
  margin-bottom: 20px;
} 

.row-exam{
  padding-top: 20px;
  background-color: #2f343a;
  position: relative;
  top: 20%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  color: white;
}

.row-exam:after {
  content: "";
  display: table;
  clear: both;
}

.exam-img{
  width:70%;
  margin-bottom: 20px;
}


/* Mobile and Tablet */
@media (max-width: 768px) { 
.column-exam{
  width: 100%;
  } 

.row-exam{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  }
}