.wrapper {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

/* .work */
.projects-images-container {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.projects-images-container img {
  margin: 4%;
  width: 30%;
}

.text-container{
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin: 100px auto 50px auto;
  padding-bottom: 50px;
}

.title-project-section{
  font-weight: 600;
  font-size: 500%;
  color: #615144;
}

.title-project-section{
  font-weight: 600;
  font-size: 500%;
  color: #615144;
}

.title-sub-section{
  font-weight: 200;
  font-size: 500%;
  color: white;
}

.info-project-section{
  font-size: 200%;
  color: #615144; 
  font-weight: 800;
  color: #615144;
}

.info-sub-section{
  font-size: 200%;
  color: white;
}

.kiyanpay-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.kiyanpay-img:hover{
  transform: scale(1.1);
  filter: saturate(1.2);
}

.dinosaur-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.dinosaur-img:hover{
  transform: scale(1.1);
  filter: saturate(1.2);
}

.weather-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.weather-img:hover{
  transform: scale(1.1);
  filter: saturate(1.4);
}

.exam-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.exam-img:hover{
  transform: scale(1.1);
  filter: saturate(1.4);
}

.Blogging-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  filter: saturate(0.8);
}

.Blogging-img:hover{
  transform: scale(1.1);
  filter: saturate(1.1);
}

.BN-img{
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.BN-img:hover{
  transform: scale(1.1);
}

@media (max-width: 768px){
  .projects-images-container img {
        margin: 0 auto 50px auto;
        width: 90%;
  }
}

.project-all-pages-background{
  background: #c4da89;  
  display: grid;
}
