/* kiyanpay application */
.column-kiyanpay{
  float: left;
  width: 50%;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: calc(10.5px + 7.5 * ((75vw - 577.5px) / 1536));
} 

.column-kiyanpay h1{
  margin-bottom: 20px;
} 

.row-kiyanpay{
  position: relative;
  top: 20%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  color: white;
}

.row-kiyanpay:after {
  content: "";
  display: table;
  clear: both;
}

.kiyanpay-img{
  width:72%;
  margin-bottom: 20px;
}


/* Mobile and Tablet */
@media (max-width: 768px) { 
.column-kiyanpay{
  width: 100%;
  } 

.row-kiyanpay{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  }
}