.footer{
	position: relative;
    left: 13%;
	width: 49%;
    top: 5em;
	height: auto;
    font-weight: 700;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: calc(12px + 1.5 * ((75vw - 270px) / 576));
}

.footer-github-icon{
    width: 40px;
    height: 40px;
    position: relative;
    left: 5%;
    border-radius: 20px;
}

.footer-linkedin-icon{
    width: 40px;
    height: 40px;
    position: relative;
    left: 5%;
    border-radius: 20px;
}

/* Mobile and Tablet */
@media (max-width: 768px) { 
    .footer{
        position: relative;
        top: 15em;
        height: auto;
    }   

    .footer-github-icon{
        margin-top: 20%;
    }
    
    .footer-linkedin-icon{
        margin-top: 20%;
    }
}

@media (max-width: 768px) { 
    .footer{
        position: relative;
        top: 10em;
        height: auto;
    }   

    .footer-github-icon{
        margin-top: 20%;
    }
    
    .footer-linkedin-icon{
        margin-top: 20%;
    }
}