.homepage-text{
    position: relative;
    top: 35%;
    left: 15%;
    width: 85%;
    font-size: 125%;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

.green{
    color: #84CE77;
}

.hello-world{
    font-size: 250%;
    color: #84CE77;
}

.hello-world2{
    font-size: 120%;
    color: white;
}

.intro1{
    margin-top: 20px;
    font-size: 200%;
    width: 40%;
    color: white;
}

.intro2{
    font-size: 170%;
    margin-bottom: 15px;
    color: white;
}

.intro3{
    font-size: 140%;
    width: 40%;
    color: white;
}

.github-icon{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 90px;
    left: 10%;
    border-radius: 50px;
    border: solid 2pt rgb(34, 31, 31);
}

.github-icon:hover{
    width: 120px;
    height: 120px;
}

.linkedin-icon{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 90px;
    left: 15%;
    border-radius: 50px;
    border: solid 2pt rgb(55, 47, 167);
}

.linkedin-icon:hover{
    width: 120px;
    height: 120px;
}

.me-image{
    position: relative;
    float: right;
    border-radius: 50px;
    left: -8%;
    width: 30%;
    height: auto;
}