/* Source: https://speckyboy.com/css-javascript-animated-backgrounds/ */

.homepage-background-container{
  background: #c4da89;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;     
}
